- get_header()
main
  article.main.page.index
    header.page
      .container
        h1 Writing by Jack Gutteridge
    aside.page
      .container
        span Every posts from the archive
    section.content.page
      .container
        p If you're reading this, well done, but this thing isn't plumbed in yet, so sod off! Oh, alright, fine. Here's all the content. You win. Well done.
    - get_archive_index()
    footer.end.page
      .container
        p Fin.
- get_footer()
